<div class="">
  <nav class=" sticky-top d-flex justify-content-between " style=" position: fixed; background-color: rgb(2, 2, 40); min-width: 100vw;">
    <a class=" overflow-hidden navbar-brand" style="height: 70px;" ><img class="rounded-circle"style="width: 100px " src="assets/WD.png" alt="Image"></a>
    <ul style="font-size: 20px;" class="me-1 nav justify-content-end ">
      <li class="nav-item">
        <a class="nav-link active" href="#">About</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Content</a>
      </li>
      <li class="nav-item">
        <a class="  nav-link " href="#" tabindex="-1" aria-disabled="true">Contact</a>
      </li>
    </ul>
  </nav>
</div>

<div class="" style="margin: 0;">
  <div class="position-relative bg-img" style="background-image:linear-gradient(45deg,
  rgba(8, 43, 78, 0.4),
  rgba(89, 140, 190, 0.4)), url(assets/Cover.jpg); height: 80vh;  background-size: cover; background-repeat: no-repeat; background-position:center;">
  <div class="position-absolute bottom-0 start-50 translate-middle-x " style="color: white; ">
    <h1 style="font-size: 50px;">Discover . Connect . Achieve </h1>
<p style="font-size: 20px;">Technology like art is a soaring exercise of the human imagination</p>
  </div>
  </div>
  <div class="   border border-0 card" style="margin: 20px;">
    <div class="row no-gutters">
      <div class="position-relative col-sm-5">
        <h1 style="color: rgb(205, 205, 11); font-weight: 1000; font-family: 'Permanent Marker', cursive;" class="position-absolute bottom-0 start-50 translate-middle-x">GOD LOVES  <span style="font-size: 60px; color: blue;">YOU !!</span></h1>
        <img class="card-img" src="assets/Happy.jpg" alt="">
      </div>
      <div class="col-sm-7">
        <div class="card-body">
          <h4 class="card-title">Employee Motivation</h4>
          <p>God loves you and cares for you.</p>
          <p>If you don't give up on something you truly believe in, you will find a way. If you have a dream, don't just sit there. Gather courage to believe that you can succeed and leave no stone unturned to make it a reality. It doesn't matter how many times you get knocked down.</p>
          <p class="card-text">“No. Don't give up hope just yet. It's the last thing to go. When you have lost hope, you have lost everything. And when you think all is lost, when all is dire and bleak, there is always hope.”</p>
          <a href="#" class="btn btn-primary">For More Inspirations </a>
        </div>
      </div>
    </div>

  </div>
  <div class=" text-white bg-img" style="margin-bottom: 10px; background-image:linear-gradient(45deg,
  rgba(3, 10, 16, 0.7),
  rgba(5, 19, 33, 0.4)), url(assets/smallStripe.jpg); height: 30vh;  background-size: cover; background-repeat: no-repeat; background-position:center; background-attachment: fixed;">
  <div class="text-center" style="padding: 20px;">
    <h2>Keeping the fire burning</h2>
    <p>Create Margical Experience</p>
    <button class="btn btn-primary">Get Started</button>
  </div></div>

  <div class="row justify-content-center" style="background-color: rgb(225, 213, 237);">
    <div class="col-md-8">
      <app-employees></app-employees>
    </div>
  </div>


<div class="">

  <!-- Footer -->
  <footer
          class="text-center text-lg-start text-white"
          style="background-color: #1c2331"
          >
    <!-- Section: Social media -->
    <section
             class="d-flex justify-content-between p-4"
             style="background-color: #6351ce"
             >
      <!-- Left -->
      <div class="me-5">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->

      <!-- Right -->
      <div>
        <a href="" class="text-white me-4">
          <i class="fab fa-facebook-f"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-linkedin"></i>
        </a>
        <a href="" class="text-white me-4">
          <i class="fab fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->

    <!-- Section: Links  -->
    <section class="">
      <div class=" text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold">The Power of Consistency</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              The more work you put in, and the more you constantly and consistently give good performances against good opponents and constantly exceed people's expectations, the more you really endear yourself to the crowd. That's how your career takes off - it's just consistency and time.
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Skill set</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a style="text-decoration: inherit;" href="#!" class="text-white">MongoDB</a>
            </p>
            <p>
              <a style="text-decoration: inherit;" href="#!" class="text-white">Bootstrap</a>
            </p>
            <p>
              <a style="text-decoration: inherit;" href="#!" class="text-white">ReactJs</a>
            </p>
            <p>
              <a style="text-decoration: inherit;" href="#!" class="text-white">Angular Framework</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">More details</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p>
              <a style="text-decoration: inherit;" href="#!" class="text-white">Home page</a>
            </p>
            <p>
              <a style="text-decoration: inherit;" href="#!" class="text-white">Employee Motivation</a>
            </p>
            <p>
              <a style="text-decoration: inherit;" href="#!" class="text-white">Employee Details</a>
            </p>
            <p>
              <a style="text-decoration: inherit;" href="#!" class="text-white">More...</a>
            </p>
          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold">Contact</h6>
            <hr
                class="mb-4 mt-0 d-inline-block mx-auto"
                style="width: 60px; background-color: #7c4dff; height: 2px"
                />
            <p><i class="fas fa-home mr-3"></i> Nairobi City,KENYA</p>
            <p><i class="fas fa-envelope mr-3"></i> winnieatieno00@gmail.com</p>
            <p><i class="fas fa-phone mr-3"></i> + 2547000000</p>
            <p><i class="fas fa-print mr-3"></i> + 2547000000</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->

    <!-- Copyright -->
    <div
         class="text-center p-3"
         style="background-color: rgba(0, 0, 0, 0.2)"
         >
      © 2023 Copyright:
      <a style="text-decoration: inherit;" class="text-white" href="#"
         >Winnie Atieno</a
        >
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->

</div>
<!-- End of .container -->
</div>
